.container {
  width: 90%;
  margin: 0 auto;
   h1 {
   text-align: center;
   margin-top: 1rem;
  }
}

.conselhos_tab {
  margin-top: 2rem;
  width: 100%;
  height: 500px;
  background-color: #00958183;
  font-family: Inter;
  margin-bottom: 2rem;
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #000;
}